In [20]:
import pandas as pd
import json

with open('/home/wmnlab/D/database/2023-04-01/time_sync_lpt3.json', 'r') as f:
    json_object = json.load(f)
delta = pd.DataFrame.from_dict(json_object, orient='index', columns=['delta']).reset_index(names='Timestamp')
delta['Timestamp'] = pd.to_datetime(delta['Timestamp'])
delta['timedelta'] = pd.to_timedelta(delta['delta'], unit='seconds')
delta

                    Timestamp     delta                   timedelta
0  2023-04-01 11:41:09.159653 -1.435313 -1 days +23:59:58.564686962
1  2023-04-01 14:07:37.404427  0.397438   0 days 00:00:00.397438500
2  2023-04-01 14:21:19.983960  0.394539   0 days 00:00:00.394538966
3  2023-04-01 14:32:12.341124  0.391556   0 days 00:00:00.391555675
4  2023-04-01 14:45:49.568494  0.388349   0 days 00:00:00.388348936
5  2023-04-01 14:56:48.785520  0.385924   0 days 00:00:00.385924403
6  2023-04-01 15:06:07.808471  0.383013   0 days 00:00:00.383013447
7  2023-04-01 15:21:15.625199  0.377897   0 days 00:00:00.377896843
8  2023-04-01 15:30:40.995589  0.377053   0 days 00:00:00.377053193
9  2023-04-01 15:37:41.258170  0.374303   0 days 00:00:00.374303187
10 2023-04-01 15:51:08.996670  0.371343   0 days 00:00:00.371342623

In [21]:
bm_timestamp = pd.to_datetime('2023-04-01 14:17:48.404430')
bm_timestamp

Timestamp('2023-04-01 14:17:48.404430')

In [22]:
delta_o_delta = (delta["Timestamp"] - bm_timestamp).dt.total_seconds().abs()
delta_o_delta

0     9399.244777
1      611.000003
2      211.579530
3      863.936694
4     1681.164064
5     2340.381090
6     2899.404041
7     3807.220769
8     4372.591159
9     4792.853740
10    5600.592240
Name: Timestamp, dtype: float64

In [23]:
delta_o_delta.argmin()

2

In [25]:
delta.loc[delta_o_delta.argmin(), ['delta', 'timedelta']]

delta                         0.394539
timedelta    0 days 00:00:00.394538966
Name: 2, dtype: object