In [104]:
# !pip install statsmodels
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [105]:
df = pd.read_pickle('input_data_processed.pkl')
df

,Timestamp,tx_count,loss,lorate,rx_count,excl,exrate,loexrate,mean_lat,min_lat,...,MCG_Failure_handoverFailure (1),MCG_Failure_otherFailure (2),NAS_Recovery_reconfigurationFailure (0),NAS_Recovery_handoverFailure (1),NAS_Recovery_otherFailure (2),intra_freq,inter_freq,intra_sector,inter_sector,inter_enb
0,2023-02-04 14:58:57,309,0,0.0,309,0,0.0,0.0,0.019925,0.016015,...,0,0,0,0,0,0,0,0,0,0
1,2023-02-04 14:58:58,500,0,0.0,500,0,0.0,0.0,0.019814,0.015946,...,0,0,0,0,0,0,0,0,0,0
2,2023-02-04 14:58:59,500,0,0.0,500,0,0.0,0.0,0.019890,0.015873,...,0,0,0,0,0,0,0,0,0,0
3,2023-02-04 14:59:00,500,0,0.0,500,0,0.0,0.0,0.019378,0.014693,...,0,0,0,0,0,0,0,0,0,0
4,2023-02-04 14:59:01,500,0,0.0,500,0,0.0,0.0,0.019340,0.015747,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,2023-02-04 15:06:29,500,0,0.0,500,0,0.0,0.0,0.009993,0.004812,...,0,0,0,0,0,0,0,0,0,0
453,2023-02-04 15:06:30,500,0,0.0,500,0,0.0,0.0,0.010040,0.004664,...,0,0,0,0,0,0,0,0,0,0
454,2023-02-04 15:06:31,500,0,0.0,500,0,0.0,0.0,0.009959,0.004655,...,0,0,0,0,0,0,0,0,0,0
455,2023-02-04 15:06:32,500,0,0.0,500,0,0.0,0.0,0.009684,0.004566,...,0,0,0,0,0,0,0,0,0,0
456,2023-02-04 15:06:33,264,0,0.0,264,0,0.0,0.0,0.009796,0.004570,...,0,0,0,0,0,0,0,0,0,0

In [106]:
with pd.option_context('display.max_rows', None):
    display(df.dtypes)

Timestamp                                  datetime64[ns]
tx_count                                            int64
loss                                                Int64
lorate                                            Float64
rx_count                                            int64
excl                                                Int64
exrate                                            Float64
loexrate                                          Float64
mean_lat                                          float32
min_lat                                           float32
max_lat                                           float32
median_lat                                        float32
std_lat                                           float64
jitter                                            float32
PCI                                                 Int32
EARFCN                                              Int32
RSRP                                              float32
RSRQ                                              float32
nrPCI                                               Int32
nrARFCN                                             Int32
nrRSRP                                            float32
nrRSRQ                                            float32
ho_type                                            object
ho_type1                                           object
ho_type2                                           object
ho_src                                             string
ho_tgt                                             string
ho_num                                               Int8
st_scell                                            Int32
mnpp                                                 Int8
snpp                                                 Int8
LTE_HO                                               Int8
SN_Setup                                             Int8
SN_Rel                                               Int8
MN_HO                                                Int8
SN_HO                                                Int8
MNSN_HO                                              Int8
SCG_Failure                                          Int8
MCG_Failure_reconfigurationFailure (0)               Int8
MCG_Failure_handoverFailure (1)                      Int8
MCG_Failure_otherFailure (2)                         Int8
NAS_Recovery_reconfigurationFailure (0)              Int8
NAS_Recovery_handoverFailure (1)                     Int8
NAS_Recovery_otherFailure (2)                        Int8
intra_freq                                           Int8
inter_freq                                           Int8
intra_sector                                         Int8
inter_sector                                         Int8
inter_enb                                            Int8
dtype: object

In [107]:
print(df.columns)

Index(['Timestamp', 'tx_count', 'loss', 'lorate', 'rx_count', 'excl', 'exrate',
       'loexrate', 'mean_lat', 'min_lat', 'max_lat', 'median_lat', 'std_lat',
       'jitter', 'PCI', 'EARFCN', 'RSRP', 'RSRQ', 'nrPCI', 'nrARFCN', 'nrRSRP',
       'nrRSRQ', 'ho_type', 'ho_type1', 'ho_type2', 'ho_src', 'ho_tgt',
       'ho_num', 'st_scell', 'mnpp', 'snpp', 'LTE_HO', 'SN_Setup', 'SN_Rel',
       'MN_HO', 'SN_HO', 'MNSN_HO', 'SCG_Failure',
       'MCG_Failure_reconfigurationFailure (0)',
       'MCG_Failure_handoverFailure (1)', 'MCG_Failure_otherFailure (2)',
       'NAS_Recovery_reconfigurationFailure (0)',
       'NAS_Recovery_handoverFailure (1)', 'NAS_Recovery_otherFailure (2)',
       'intra_freq', 'inter_freq', 'intra_sector', 'inter_sector',
       'inter_enb'],
      dtype='object')

In [128]:
df = df[df['ho_num'] < 2]
X = df.drop(columns=['Timestamp', 'tx_count', 'loss', 'lorate', 'rx_count', 'excl', 'exrate',
                     'loexrate', 'mean_lat', 'min_lat', 'max_lat', 'median_lat', 'std_lat', 'jitter',
                     'PCI', 'EARFCN', 'nrPCI', 'nrARFCN',
                     'RSRP', 'RSRQ', 'nrRSRP', 'nrRSRQ',
                     'ho_type', 'ho_type1', 'ho_type2', 'ho_src', 'ho_tgt', 'ho_num', 'mnpp', 'snpp', 'st_scell',
                     'intra_freq', 'inter_freq',
                     'intra_sector', 'inter_sector', 'inter_enb',
                     'SCG_Failure',
                     'MCG_Failure_reconfigurationFailure (0)',
                     'MCG_Failure_handoverFailure (1)', 'MCG_Failure_otherFailure (2)',
                     'NAS_Recovery_reconfigurationFailure (0)',
                     'NAS_Recovery_handoverFailure (1)', 'NAS_Recovery_otherFailure (2)',]).copy()
y = df['loss']

In [129]:
X.isna().sum()

LTE_HO      0
SN_Setup    0
SN_Rel      0
MN_HO       0
SN_HO       0
MNSN_HO     0
dtype: int64

In [130]:
X = sm.add_constant(X)
X = X.astype(float)
y = y.astype(float)

In [131]:
# with pd.option_context('display.max_columns', None):
#     display(X)
# display(y)
# model = sm.OLS([1]*len(X), X[['const','RSRP','RSRQ','nrRSRP','nrRSRQ','ho_num']]).fit()
model = sm.OLS(y, X).fit()
# model = sm.OLS([1]*len(X), X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   loss   R-squared:                       0.049
Model:                            OLS   Adj. R-squared:                  0.041
Method:                 Least Squares   F-statistic:                     5.767
Date:                Mon, 06 Mar 2023   Prob (F-statistic):           0.000156
Time:                        15:37:43   Log-Likelihood:                -1694.7
No. Observations:                 451   AIC:                             3399.
Df Residuals:                     446   BIC:                             3420.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.1743      0.513      0.340      0.734      -0.834       1.182
LTE_HO     -3.131e-16    1.6e-15     -0.196      0.845   -3.45e-15    2.83e-15
SN_Setup      -0.1743     10.437     -0.017      0.987     -20.687      20.338
SN_Rel        -0.1743     10.437     -0.017      0.987     -20.687      20.338
MN_HO         12.3551      2.580      4.789      0.000       7.285      17.425
SN_HO          1.3520      2.446      0.553      0.581      -3.455       6.159
MNSN_HO             0          0        nan        nan           0           0
==============================================================================
Omnibus:                      986.973   Durbin-Watson:                   2.011
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1850796.230
Skew:                          16.715   Prob(JB):                         0.00
Kurtosis:                     315.046   Cond. No.                          inf
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is      0. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

/Users/jackbedford/opt/anaconda3/envs/moxa/lib/python3.8/site-packages/statsmodels/regression/linear_model.py:1934: RuntimeWarning: divide by zero encountered in scalar divide
  return np.sqrt(eigvals[0]/eigvals[-1])